<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>empInsert</title>
</head>
<body>
	<form th:action="@{/empInsert}" method="post">
		<h3>사원 추가</h3>		
		<div>
			<label for="ename">이름</label>
			<input type="text" id="ename" name="lastName">
		</div>
		<div>
			<label for="email">이메일</label>
			<input type="email" id="email" name="email">
		</div>
		<div>
			<label for="hDate">입사일자</label>
			<input type="date" id="hDate" name="hireDate">
		</div>
		<div>
			<label for="job">업무</label>
			<input type="text" id="job" name="jobId">
		</div>
		<div>
			<label for="sal">급여</label>
			<input type="number" step="0.01" min="1" id="sal" name="salary">
		</div>
		<div>
			<button type="submit">저장</button>
		</div>
	</form>
</body>
</html>