<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Home</title>
<th:block th:replace="~{common/configs/default_config :: defaultConfig}"></th:block>
<th:block th:replace="~{common/configs/default_config :: jQueryConfig}"></th:block>
</head>
<body>
	<header th:insert="~{common/fragments/dept_header :: defaultHeader}"></header>
	<main layout:fragment="Content"></main>
	<footer th:replace="~{common/fragments/default_footer :: defaultFooter}"></footer>
</body>
</html>