<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/dept_layout}"
      layout:fragment="Content">
<body>
	<div class="d-flex justify-content-center">
	<form th:action="@{/deptInsert}" method="post">
		<h3>부서 등록</h3>		
		<div>
			<label for="deptName">부서이름</label>
			<input type="text" id="deptName" name="departmentName" required>
		</div>
		<div>
			<label for="mgrId">부서책임자 사원번호</label>
			<input type="number" id="mgrId" name="managerId">
		</div>
		<div>
			<label for="locId">위치번호</label>
			<input type="number" id="locId" name="locationId">
		</div>
		<div>
			<button type="submit">저장</button>
		</div>
	</form>
	</div>
</body>
</html>