<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/dept_layout}"
      layout:fragment="Content">
<body>
	<div class="container">
		<h3>전체 부서 조회</h3>
		<table class="table">
			<thead>
				<tr>
					<th>부서번호</th>
					<th>부서이름</th>
					<th>도시</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info : ${depts}">
					<tr>
						<td>[[ ${info.departmentId} ]]</td>
						<td>[[ ${info.departmentName} ]]</td>
						<td>[[ ${info.city} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<script>
		const context = $('meta[name="ctxPath"]').attr('value');
		$('tbody > tr').on('click', function(event){
			let trTag = event.currentTarget;
			let deptId = $(trTag).children().eq(0).text();
			let url = context + '/deptInfo?departmentId=' + deptId;
			location.href = url;
		});	
	</script>
</body>
</html>