<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>deptUpdate</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<form name="updateForm" th:object="${dept}">
		<h3>부서 정보 수정</h3>
		<div>
			<label for="departmentId">부서번호</label>
			<input type="number" th:field="*{departmentId}" readonly>
		</div>		
		<div>
			<label for="departmentName">부서이름</label>
			<input type="text" th:field="*{departmentName}">
		</div>
		<div>
			<label for="managerId">부서책임자 사원번호</label>
			<input type="number" th:field="*{managerId}">
		</div>
		<div>
			<label for="locationId">위치번호</label>
			<input type="number" th:field="*{locationId}">
		</div>
		<div>
			<button type="button" id="updateBtn">저장</button>
		</div>
	</form>
	<script>
		$('#updateBtn').on('click', updateAjax);
		
		function updateAjax(event) {
			// 1) 보낼 데이터 가져오기
			let dataObj = getFormData();
			// 2) AJAX
			$.ajax("deptUpdate", {
				type : 'post', // Method
				// JSON : @RequestBody
				contentType : 'application/json',
				data : JSON.stringify(dataObj) // JavaScript 값이나 객체를 JSON 문자열로 변환
			})
			.done((data)=>{
				console.log(data);
				if(data.result) {
					alert('성공적으로 수정되었습니다.');					
				}
				else {
					alert('수정되지 않았습니다.');
				}
			})
			.fail((err)=>console.log(err));
		}
		
		function getFormData() {
			let formAry = $('form[name="updateForm"]').serializeArray();
			let formObj = {};
			$.each(formAry, function(idx, tag) {
				formObj[tag.name] = tag.value;
			});
			
			return formObj;
		}
	</script>
</body>
</html>